includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 6
    paths:
        - src/
        - tests/
        - tools/profile-generator/bin/fit-generate-types
        - tools/profile-generator/bin/fit-generate-messages
    tmpDir: .phpstan.cache
